* {margin: 0; padding: 0;}

*{
    font-family: 'Oxygen', sans-serif;   
    color: black;
}
p {
    font-size: 18px;
}
header {
    color: blue;  
    text-align: center;
}
header li {
    list-style-type: none;
    margin-right: 40px;
    display: inline-block;
}
header nav {
    height: 30px;
    width: 100%;
    font-size: 2em;
}
header img{
    width: 60px;
    height: 60px;
}

.col img{
    height: 30%;
    width: 30%;
}

.instructor-box {
    margin: 10px 20px 10px 100px;
    clear: both;
    width: 800px;
}
article {
    margin: 10px 20px 10px 200px; 
    width: 900px;       
}
article p {
   text-align: left; 
}
article h3 {
    font-size: 20px;
    font-weight: 300;
}
.instruction-video {
    width: 200px;
    text-align: left;
    margin: 20px 20px;
}

article li{
    text-align: left;
}

div.row {width: 90%; margin: auto;}
div.row:after {content: ""; display: table; clear: both;}

div[class^='col'] {float: left;}

div[class^='col']:last-child {padding-right: 0;}

}
footer {

}